
<html>
  <div style="color:white;height: 50px">
    <div *ngFor="let item of listsociete">
            <img [src]="soc.alt" style="width:10%;float:left;margin-left:50px"  >
          </div>
<ion-icon name="cog" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
<ion-icon name="home" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
<ion-icon name="car" (click)="ressource()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>       


</div>
<div class="area">
  <div style="margin-left:100px">



    <p id="title">Ajouter un nouveau pointage</p>
    <ion-card>
        <ion-item style="float:left;width:20%">
     

    <ion-label> Nom employé  </ion-label>
  
       <ion-select  [(ngModel)]="nomEmpl" (ionChange)="chooseid()">
  
      <ion-option *ngFor="let item of listEmpl"  >{{item.name}}</ion-option>
  
    </ion-select>
  

        </ion-item>
        <ion-item style="width:40%">
            <ion-label>Date pointage</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"   min="2019" max="2040-12-31"[(ngModel)]="date1" ></ion-datetime>
     
          </ion-item>
        <ion-item style="float:left;width:20%">
            <ion-label>Heure Debut matin</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm"  [(ngModel)]="time1" hourValues="06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"></ion-datetime>
 
          </ion-item>
          
          <ion-item style="width:40%">
              <ion-label> Heure Fin matin</ion-label>
              <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="time2" hourValues="06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"></ion-datetime>
 
        
            </ion-item>
          
       
            <ion-item style="float:left;width:20%">
                <ion-label> Heure Debut soir</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="time3" hourValues="06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"></ion-datetime>
 
              </ion-item>
              
              <ion-item style="width:40%">
                  <ion-label>Heure Fin soir</ion-label>
                  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="time4" hourValues="06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"></ion-datetime>
 
        
                </ion-item>
             
                <button ion-button (click)="add()"> Ajouter  </button>

</ion-card>
 

<ion-card>
 
 

  <table >
    <tr>
      <th>#</th>
  <th>Emmploye</th>
      <th>Date pointage</th>
      <th>Heure Debut Matin</th>
      <th>Heure Fin Matin</th>
      <th>Heure Debut Soir</th>
      <th>Heure Fin Soir</th>
      <th>Date de creation</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of listpointage ">
      
      <td>{{item.id}}</td>
      <td>{{item.employeur_id}}</td>
      <td>{{item.date_pointage}}</td>
      <td><ion-input [(ngModel)]="item.heure_debut_matin"></ion-input></td>
      <td><ion-input [(ngModel)]="item.heure_fin_matin"></ion-input></td>
      <td><ion-input [(ngModel)]="item.heure_debut_soir"></ion-input></td>
      <td><ion-input [(ngModel)]="item.heure_fin_soir"></ion-input></td>
      <td><ion-input [(ngModel)]="item.created_at"></ion-input></td>

  <td> 
        <ion-icon id="icon" name="create" (click)="edit(item)"  style="color:#178a43; size: 10px"></ion-icon> 

      
      </td>
    </tr>
 
  </table>
  
</ion-card>

  </div>
</div><nav class="main-menu">
      <ul>
          <li>
              <a (click)="dashboard()">
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                      Dashboard
                  </span>
              </a>
            
          </li>
          <li class="has-subnav">
              <a (click)="bonretour()">
                  <i class="fa fa-file fa-2x"></i>
                  <span class="nav-text">
                      Bons de Retour
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a (click)="SortieV()">
                 <i class="fa fa-folder fa-2x"></i>
                  <span class="nav-text">
                      Bons de Sortie Validées
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a (click)="SortieC()">
                 <i class="fa fa-folder-open fa-2x"></i>
                  <span class="nav-text">
                          Bons de Sortie Cloturées
                  </span>
              </a>
             
          </li>
          <li>
              <a (click)="Sortieb()">
                  <i class="fa fa-edit fa-2x"></i>
                  <span class="nav-text">
                          Bons de Sortie Brouillons
                  </span>
              </a>
          </li>
          <li>
              <a (click)="tech()">
                  <i class="fa fa-user fa-2x"></i>
                  <span class="nav-text">
                     Techniciens
                  </span>
              </a>
          </li>
          <li>
             <a (click)="Devis()">
                 <i class="fa fa-copy fa-2x"></i>
                  <span class="nav-text">
                     Devis
                  </span>
              </a>
          </li>
          <li>
             <a (click)="facture()">
                  <i class="fa fa-edit fa-2x"></i>
                  <span class="nav-text">
                   Nouvelle Facture
                  </span>
              </a>
          </li>
          <li>
              <a (click)="listFact()">
                 <i class="fa fa-folder fa-2x"></i>
                  <span class="nav-text">
                      Liste des factures
                  </span>
              </a>
          </li>
          <li>
                  <a (click)="reservation()">
                     <i class="fa fa-file fa-2x"></i>
                      <span class="nav-text">
                         Résérvation
                      </span>
                  </a>
              </li>
              <li>
                      <a (click)="stock()">
                         <i class="fa fa-file fa-2x"></i>
                          <span class="nav-text">
                             Stocks
                          </span>
                      </a>
                  </li>
                  <li>
                          <a (click)="produitt()">
                             <i class="fa fa-file fa-2x"></i>
                              <span class="nav-text">
                               Produits
                              </span>
                          </a>
                      </li>
                      <li>
                              <a (click)="enterpot()">
                                 <i class="fa fa-file fa-2x"></i>
                                  <span class="nav-text">
                                   Entrepôts
                                  </span>
                              </a>
                          </li> 
                        
                        <li>
                                <a (click)="dmeConge()">
                                   <i class="fa fa-file fa-2x"></i>
                                    <span class="nav-text">
                                    Demande Congé
                                    </span>
                                </a>
                            </li>
                            <li>
                                    <a (click)="pointage()">
                                       <i class="fa fa-file fa-2x"></i>
                                        <span class="nav-text">
                                        Pointage
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="salaire()">
                                       <i class="fa fa-file fa-2x"></i>
                                        <span class="nav-text">
                                        Salaire
                                        </span>
                                    </a>
                                </li>
      </ul>

      <ul class="logout">
          <li>
             <a href="#">
                   <i class="fa fa-power-off fa-2x"></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>  
      </ul>
  </nav>

</html>





















   