 
    <div style="color:white;height: 50px">
            <div *ngFor="let item of listsociete">
                    <img [src]="item.alt" style="width:10%;float:left;margin-left:50px;height:60px;"  >
                  </div>
    <ion-icon name="cog" (click)="ressources()"  style="font-size:30px;color:rgb(185, 190, 197);margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
    <ion-icon name="home" (click)="societe()"  style="font-size:30px;color:rgb(185, 190, 197);margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
    <ion-icon name="car" (click)="ressource()" style="font-size:30px;color:rgb(185, 190, 197);margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>       
    </div>
<div class="area">
    
  <div style="margin-left:100px">

         <ion-card>
                <ion-item>
                        <ion-label>Produit</ion-label>
                        <ion-select  [(ngModel)]="prod" (ionChange)="selectProduit()">
                        
                          <ion-option  *ngFor="let prdt of listPrdt" >{{prdt.ref}}</ion-option>
                         
                        </ion-select>
                      
                      </ion-item>
                <ion-item>
                        <ion-label>Entrepot origine</ion-label>
                        <ion-select  [(ngModel)]="entre" (ionChange)="getqte()">
                        
                          <ion-option  *ngFor="let ent of listO" >{{ent.entrepot}}</ion-option>
                          
                        </ion-select>
                      </ion-item>
                      
                      <ion-item>
                            <ion-label>Entrepot Destination</ion-label>
                            <ion-select  [(ngModel)]="dest" (ionChange)="selectEntrepot()">
                            
                              <ion-option  *ngFor="let entD of listEnt" >{{entD.libelle}}</ion-option>
                              
                            </ion-select>
                          </ion-item>
                          <ion-item>
                                <ion-label>Quantité</ion-label>
                               <ion-input [(ngModel)]="qte"></ion-input>
                              
                              </ion-item>            
                      
             <button ion-button (click)="confirmer()">Confirmer</button>
         </ion-card>
         </div>
    </div>
  <nav class="main-menu">
        <ul>
            <!-- <li>
                <a (click)="dashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
              
            </li> -->
            <li>
                    <a (click)="Sortieb()">
                        <i class="fa fa-edit fa-2x"></i>
                        <span class="nav-text">
                                Bon de Sortie 
                        </span>
                    </a>
                </li>
            <li class="has-subnav">
                <a (click)="bonretour()">
                    <i class="fa fa-file fa-2x"></i>
                    <span class="nav-text">
                        Bon de Retour
                    </span>
                </a>
                
            </li>
        
     
            <li>
                <a (click)="tech()">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                    Employés
                    </span>
                </a>
            </li>
            <li>
               <a (click)="Devis()">
                   <i class="fa fa-copy fa-2x"></i>
                    <span class="nav-text">
                      Offre de prix
                    </span>
                </a>
            </li>
            <li>
               <a (click)="facturee()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                    Facturation
                    </span>
                </a>
            </li>
            <li >
                    <a (click)="listFact()">
                         <span style="font-size:.8em;margin-left:70px;">
                        | liste
                         </span>
                     </a>
                 </li>
                 <li >
                        <a (click)="facturee()">
                             <span style="font-size:.8em;margin-left:70px;">
                            | Nouvelle facture
                             </span>
                         </a>
                     </li>
    
            <li>
                    <a (click)="produitt()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                         Produits
                        </span>
                    </a>
                </li>
                <li>
                        <a >
                           <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                               Stock
                            </span>
                        </a>
                    </li>
                    <li >
                            <a (click)="stock()">
                                 <span style="font-size:.8em;margin-left:70px;">
                                | Stock disponible
                                 </span>
                             </a>
                         </li>
                         <li >
                                <a (click)="mvt()">
                                     <span style="font-size:.8em;margin-left:70px;">
                                    | Mouvement de stock
                                     </span>
                                 </a>
                             </li>
                    <li>
                            <a (click)="entrepot()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Entrepots
                                </span>
                            </a>
                        </li>
            <li>
                    <a (click)="reservation()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                           Reservation
                        </span>
                    </a>
                </li>
             
             
                   
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
    


   
