 
<html>
        <div style="color:white;height: 50px">
                <div *ngFor="let item of listsociete">
                        <img [src]="soc.alt" style="width:10%;float:left;margin-left:50px"  >
                      </div>
        <ion-icon name="cog" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
        <ion-icon name="home" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
        <ion-icon name="car" (click)="ressource()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>       
    </div>
<div class="area">
    <div style="margin-left:100px">
        <p id="title">Ajouter un nouveau produit</p>
        <ion-card>
         
    
            <div class="clearfixtop">
                <div class="boxtop" >
                    <ion-label style="font-size: 0.8em">Reference</ion-label>
                        <ion-input [(ngModel)]="ref" type="text" placeholder="reference du produit" ></ion-input>
                     
                     
                </div>
                <div class="boxtop" style="float:center;margin-left:5%">
                    
                       <ion-label style="font-size: 0.8em">Prix location</ion-label>
                       <ion-input [(ngModel)]="prix" type="text" placeholder="prix location du produit" ></ion-input>
                </div>
              
                
                </div>
                <div class="clearfixtop">
                    <div class="boxtop" >
                                      
                        <ion-label style="font-size: 0.8em">Prix location minimal</ion-label>
                        <ion-input [(ngModel)]="min" type="text" placeholder="Prix location minima du produit" ></ion-input>
                    </div>
                    <div class="boxtop" >
                      <ion-label style="font-size: 0.8em" >Categorie</ion-label>
                      <ion-input [(ngModel)]="categorie" placeholder="categorie"></ion-input>
                  </div>
                  <div class="boxtop" >
                    <ion-label style="font-size: 0.8em">Note</ion-label>
                    <ion-input [(ngModel)]="note" placeholder="note"></ion-input>
                </div>
                    <div class="boxtop" style="margin-left:5%" >
                        <ion-label style="font-size: 0.8em">Libelle</ion-label>
                        <ion-input [(ngModel)]="code" type="text" placeholder="libelle du produit" (ionChange)="process()" ></ion-input>
                        <!-- <button ion-button block (click)="process()">Generer</button> -->
            
                        <img  style="width:200px" *ngIf="displayQrCode()" [src]="generated">
                    </div>
                    <!-- <div class="boxtop" >
                      <ion-label>Code à barre</ion-label>
                      <input type="file"  [(ngModel)]="barre"  />
                  </div> -->
                    <div class="boxtop" >
                      <ion-label style="font-size: 0.8em">Image du produit</ion-label>
                      <input type="file" (change)="encodeImageFileAsURL($event)" />
                   
                  </div>
                  <div class="boxtop" >
                      <ion-item>
                            <ion-label style="font-size: 0.8em">TVA</ion-label>
                            <ion-select [(ngModel)]="tva">
     <ion-option  *ngFor="let t of listtva">{{t.valeur}}</ion-option>
                            </ion-select>
                          
                      </ion-item>

                    </div>
                     
                      <div class="boxtop">
               
                          <button ion-button (click)="add()">Ajouter</button>
                      </div>
           
                  
                    </div>
                  
                 
    </ion-card>
     
      
    <p id="title">Produits disponibles</p>
    <button ion-button icon-only (click)="downloadCSV()">
        <ion-icon name="download"></ion-icon>
      </button> 
    <ion-card>
     
     
    
      <table class="fixed_header">
        <tr>
          <th>#</th>
          <th>libelle</th>
          <th>reference</th>
          <th>categorie</th>
          <th>prix location</th>
          <th>prix location minimal</th>
          <th>date de creation</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let item of list ">
          <td>{{item.id}}</td>
          <td>{{item.libelle}}</td>
          <td>{{item.ref}}</td>
          <td>{{item.categorie}}</td>
          <td>{{item.prix_location}}</td>
          <td>{{item.prix_location_minimale}}</td>
          <td>{{item.created_at}}</td>
    
      <td>
           
            <ion-icon id="action" name="print" (click)="print(item)" style="color:rgb(231, 228, 45)"></ion-icon>
            <ion-icon id="action" name="trash" (click)="delete(item.id)" style="color:red"></ion-icon></td>
        </tr>
     
      </table>
      
    </ion-card>
     
     </div>
</div><nav class="main-menu">
        <ul>
            <!-- <li>
                <a (click)="dashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
              
            </li> -->
            <li class="has-subnav">
                <a (click)="bonretour()">
                    <i class="fa fa-file fa-2x"></i>
                    <span class="nav-text">
                        Bon Retour
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieV()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Bon de Sortie Validées
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieC()">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Cloturées
                    </span>
                </a>
               
            </li>
            <li>
                <a (click)="Sortieb()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Brouillon
                    </span>
                </a>
            </li>
            <li>
                <a (click)="tech()">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                       Techniciens
                    </span>
                </a>
            </li>
            <li>
               <a (click)="Devis()">
                   <i class="fa fa-copy fa-2x"></i>
                    <span class="nav-text">
                       Devis
                    </span>
                </a>
            </li>
            <li>
               <a (click)="facture()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                     Nouvelle Facture
                    </span>
                </a>
            </li>
            <li>
                <a (click)="listFact()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Liste des factures
                    </span>
                </a>
            </li>
            <li>
                    <a (click)="reservation()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                           Reservation
                        </span>
                    </a>
                </li>
                <li>
                        <a (click)="stock()">
                           <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                               Stock
                            </span>
                        </a>
                    </li>
                    <li>
                            <a (click)="produit()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Produits
                                </span>
                            </a>
                        </li>
                        <li>
                                <a (click)="entrepot()">
                                   <i class="fa fa-file fa-2x"></i>
                                    <span class="nav-text">
                                     Entrepots
                                    </span>
                                </a>
                            </li>
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

</html>
    