 
<ion-content>
  <br/> 
  
  <ion-title style="margin-left:35%;margin-left:40%">Bon de retour </ion-title>

  <div *ngFor="let post of imagelist">
      <img [src]="post.alt" style="height: 40px;width:20%;float:left">
      <br>
<br>
 <ion-label style="font-size:0.9em; margin-left: 15px">  Societé: {{post.nom}}</ion-label>
<ion-label style="font-size:0.9em ; margin-left: 15px">Siege: {{post.siege}}</ion-label>

    <ion-label style="font-size:0.9em; margin-left: 15px">MF: {{post.MF}}</ion-label>
<ion-label style="font-size:0.9em; margin-left: 15px">tel: {{post.tel1}}</ion-label>
<ion-label style="font-size:0.9em; margin-left: 15px">tel: {{post.tel2}}</ion-label>


    </div>
<table>
  <tr>
    <th>Nom du Transporteur : </th>
    <td>{{liste.transporteur_nom}}</td>
    
  </tr>
  <tr>
    <th>numéro du Transporteur : </th>
    <td>{{liste.transporteur_tel}}</td>
  </tr>
  <tr>
    <th>Date retour  : </th>
    <td>{{liste.dateRetour}}</td>
  </tr>
  <tr>
    <th>Equipe technique : </th>
    <td>{{liste.equipe_name}}</td>
  </tr>
  <tr>
    <th>Matricule :</th>
    <td>{{liste.matricule}}</td>
  </tr>
  <tr>
    <th>Entrepôt : </th>
    <td>{{liste.entrepot}}</td>
  </tr>
  <tr>
    <th>Etat</th>
    <td>{{liste.etat}}</td>
  </tr>
  <tr>
    <th>Date de création : </th>
    <td>{{liste.created_at}}</td>
  </tr>
    <tr>
      <th>Note : </th>
      <td>{{liste.note}}</td>
    </tr>
</table>
<!-- 
<table>
  <tr id="tr">
    <th>Produit</th>
    <th>Quantité</th>
    <th>Prix unitaire HT</th>
    <th>Prix Total TTC</th>

  </tr>
  <tr id="tr" *ngFor="let item of liste"  >
      <td>{{item.produit}}</td>
      <td>{{item.quantite}}</td>
      <td>{{item.prix_location}}</td>
      <td>{{item.total}}</td>
       
    </tr>
  </table>
  <table  style="float:right;width:20%;">
    <tr >
      <th>Prix total TTC</th>
      <td>
      <ion-input (ionChange)="final()" [(ngModel)]="ttc"></ion-input>
      </td>
    </tr>
    <tr>
        <th>Remise</th>
        <td>{{dataDevis.remise}}</td>
      </tr>
      <tr>
          <th>Prix Final</th>
          <td>{{prixfinal}} </td>
        </tr>
  </table> -->
  <button ion-button block round color="danger" (click)="onSuccessLoad()">Imprimer</button>
</ion-content>
