 


<ion-content padding>
 
  <ion-list> 
     
        <table>
        <tr>
<th></th>
<th></th>
<th></th>
<th></th>
        </tr>
        <tr *ngFor="let qr of imageQrList" >
<td>
<div *ngFor="let post of imagelist">
<img [src]="post.alt" style="height: 40px;;width:90%">
</div>          
<img [src]="item.qrCode" style="height: 50px;width:90%"><p style="margin-left:20px;margin-top: 0%">{{item.libelle}}</p>
</td>
<td>
<div *ngFor="let post of imagelist">
<img [src]="post.alt" style="height: 40px;width:90%">
</div>
<img [src]="item.qrCode" style="height: 50px;width:90%"><p style="margin-left:20px;margin-top: 0%">{{item.libelle}}</p>
</td>
 <td>
<div *ngFor="let post of imagelist">
 <img [src]="post.alt" style="height: 40px;width:90%">
 </div>
<img [src]="item.qrCode" style="height: 50px;width:90%"  ><p style="margin-left:20px;margin-top: 0%">{{item.libelle}}</p>
</td>
<!-- <td>
<div *ngFor="let post of imagelist">
<img [src]="post.alt" style="height: 40px;;width:90%"  >
</div>
 <img [src]="item.qrCode" style="height: auto;width:90%"  ><p style="margin-left:20px;margin-top: 0%">{{item.libelle}}</p>
</td> -->
</tr>
</table>
      <button ion-button (click)="onSuccessLoad()"> Print</button>
  </ion-list>
   
</ion-content>
