page-listereservation {
    ion-label{
        font-size: 1em;
        font-weight:bold
    }
    table {
      
        border-collapse: collapse;
        width: 100%;
      }
     
      td, th {
        
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #ffffff;
        border: 1px solid #cfcdcd;
      }
}
