

<ion-content style="background-color:lightgrey">

  <nav>
     
   <ul id="main" >
       <li class="border">  
         <img src="assets/icon/favicon.ico" width="50px" height="47 px"/>
       </li>
     <li class="border" style="color:#3ea7d8">
<div style="float:left" >
 <ul id="menu" ><ion-icon id="med" name="desktop" style="color:#3ea7d8"></ion-icon></ul>
 <ul id="menu">Accueil</ul>
 </div>
<div style="float:center;margin-left: 50px">
   <ul><ion-icon id="med" name="build" style="color:#3ea7d8"></ion-icon></ul>
   <ul>Réglages</ul>
</div>
<!-- <ion-note style="margin-bottom: 0%;float: center">Mon bureau</ion-note> -->
<!-- <p style="float:right;margin-left: 130px;margin-top: 0%">Bureau</p> -->
 </li>
 <li class="border" style="color:#a305a8">
   
     <div style="float:left;margin-top:6%"><ion-icon id="med" name="person" style="color:#a305a8"></ion-icon>Clients</div>
     <div style="float:center;margin-left:55px">
       <ul><ion-icon id="small" name="contacts" style="color:#a305a8"></ion-icon>Prospects</ul>
       <ul><ion-icon id="small" name="contacts" style="color:#a305a8"></ion-icon>Representants</ul>
       <ul><ion-icon id="small" name="contacts" style="color:#a305a8"></ion-icon>Employeurs</ul>
     </div>
   
 </li>

     <li class="border"style="color:#178a43">
      
         <div style="float:left">
             <ul id="menu"><ion-icon id="med" name="archive" style="color:#178a43"></ion-icon></ul>
             <ul id="menu">Liste des produits</ul>
             </div>
           <div style="float:center;margin-left: 150px">
               <ul id="menu"><ion-icon id="med" name="filing" style="color:#178a43"></ion-icon></ul>
               <ul id="menu">Mouvements de stock</ul>
           </div>
     </li>
     <li class="border" style="color:#f8793e">
         <div style="float:left">
             <ul id="menu"><ion-icon id="med" name="document" style="color:#f8793e"></ion-icon></ul>
             <ul id="menu">Pieces clients</ul>
             </div>
           <div style="float:center;margin-left: 80px">
               <ul ><ion-icon id="med" name="document" style="color:#f8793e"></ion-icon></ul>
               <ul>Pieces employeurs</ul>
           </div>
     </li>
     <li class="border" >
         <ul id="menu" style="margin-right:0%"><ion-icon id="med" name="help-circle"></ion-icon></ul>
             <ul id="menu" style="margin-right:0%">Help</ul>
     </li>
     <!-- <li style="padding-top: 0;padding-bottom: 0;margin-right: 0;float:right">
       <ion-searchbar></ion-searchbar>
     </li> -->
     <div id="marker"></div>
   </ul>
 </nav>
  <!-- ============================================================== -->
   <!-- Side Menu -->
   <!-- ============================================================== -->


   
<input type="checkbox" id="check" style="padding-top:200px"/>
<label for="check">
 <svg viewBox="0 0 30 30" width="20" height="30" style="padding-top:200px;float:left">
   <path id="one" d="M4 10h22M4" stroke="#374954" stroke-width="2" stroke-linecap="round"></path>
   <path id="two" d="M4 20h22M4" stroke="#000" stroke-width="2" stroke-linecap="round"></path>
 </svg> <ion-icon name="menu" style="color: white"></ion-icon>
</label>
<aside>
 <div class="top" style="color: white">
   <h2>Title</h2>
   <ul>
     <li>Nav text</li>
     <li>Nav text</li>
     <li>Nav text</li>
     <li>Nav text</li>
     <li>Nav text</li>
   </ul>
 </div>
 
</aside>


 <article >
  <p id="title">Ajouter un nouveau devis</p>
  <ion-card id="form1">
 
<ion-item>
  <ion-label id="medium">Client</ion-label>
  <ion-select  [(ngModel)]="client" (ionChange)="getClt()">
  
    <ion-option  *ngFor="let clt of listClt" >{{clt.prenom}} {{clt.nom}} </ion-option>
    
  </ion-select>
</ion-item>

<ion-item>
  <ion-label id="medium">Date </ion-label>
  <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"  [(ngModel)]="date" ></ion-datetime>
</ion-item>

<ion-item>
  <ion-label id="medium">Durée de validité en jours</ion-label>
  <ion-select  [(ngModel)]="duree" (ionChange)="getduree()">
  
    <ion-option  >5</ion-option>
    <ion-option  >10</ion-option>
    <ion-option  >15</ion-option>
    <ion-option  >20</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label id="medium">Condition de reglement</ion-label>
  <ion-select  [(ngModel)]="condition" (ionChange)="getCdt()">
  
    <ion-option  *ngFor="let cdt of listCdt" >{{cdt.condition}}</ion-option>
    
  </ion-select>
</ion-item>     
<ion-item>
  <ion-label id="medium">Mode de reglement</ion-label>
  <ion-select  [(ngModel)]="mode" (ionChange)="getMd()">
  
    <ion-option  *ngFor="let md of listMd" >{{md.mode}}</ion-option>
    
  </ion-select>
</ion-item>             
<ion-item>
  <ion-label id="medium">Delai de livraison</ion-label>
  <ion-select  [(ngModel)]="delai" (ionChange)="getdl()">
  
    <ion-option  *ngFor="let dl of listDl" >{{dl.delai}}</ion-option>
    
  </ion-select>
</ion-item> 
<ion-item>
  <ion-label id="medium">Date de livraison</ion-label>
  <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"  [(ngModel)]="deteLivraison"  [min]="date" ></ion-datetime>
</ion-item>  
<ion-item>
  <ion-label id="medium" floating>Note</ion-label>
  <ion-input type="richtext" [(ngModel)]="note"></ion-input>
</ion-item>  

<button ion-button style="float:right;margin-right:1%" (click)="details()">Next</button>

</ion-card >
<ion-card id="form2">
 
  <ion-select   [(ngModel)]="produit" style="width:30%" placeholder="produit" (ionChange)="select(produit)">
    <ion-option *ngFor="let p of listPdt"  >{{p.libelle}}</ion-option>
  </ion-select>
  
<ion-item  style="width:30%">
    <ion-label  floating>Prix de location</ion-label>
    <ion-input (ionChange)="calcul()"[(ngModel)]="prix_location"></ion-input>
</ion-item>
  <ion-item>
    <ion-label>TVA: {{t}}</ion-label>
     
     
</ion-item>
<ion-item style="width:30%" >
  <ion-label floating>Quantité</ion-label>
  <ion-input [(ngModel)]="quantite" (ionChange)="calcul()"></ion-input>
</ion-item>
 
<ion-item>

  <p>{{total}}</p>
</ion-item>
<button ion-button style="float:right;margin-right:1%" (click)="ajouter()">Ajouter</button>
  <button ion-button style="float:right;margin-right:1%" (click)="back()">Back</button>
  </ion-card>
<p id="title">Liste</p>
<ion-card id="form3">
  <table>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Client</th>
      <th>durée de validité</th>
      <th>Condition de règlement</th>
      <th>Mode de règlement</th>
      <th>Délai de livraison</th>
      <th>Note</th>
      <th>Date de ceation de devis</th>
       <th>Action</th>
    </tr>
    <tr *ngFor="let item of listDvs " >
      <td>{{item.id}}</td>
      <td>{{item.date}}</td>
      <td>{{item.client}}</td>
      <td>{{item.duree}}</td>
      <td>{{item.condition}}</td>
      <td>{{item.mode}}</td>
      <td>{{item.deteLivraison}}</td>
      <td>{{item.note}}</td>
      <td>{{item.created_at}}</td>
      <td> <ion-icon id="action" name="eye" style="color:#3ea7d8"></ion-icon> <ion-icon id="action" name="create" (click)="edit(item.id)" style="color:#178a43"></ion-icon> 
        <ion-icon id="action" name="trash" (click)="delete(item.id)" style="color:red"></ion-icon></td>
    </tr>
  
  </table>
  
</ion-card>
 <ion-card id="form4">
   <table>
<tr>
  <th>#</th>
  <th>Produit</th>
  <th>Quantité</th>
  <th>Prix unitaire HT</th>
  <th>Prix Total TTC</th>
  <th>Action</th>
</tr>
<tr *ngFor="let itemm of listeDevis"  >
  <td>{{itemm.num}}</td>
    <td>{{itemm.produit}}</td>
    <td>{{itemm.quantite}}</td>
    <td>{{itemm.prix_location}}</td>
    <td>{{itemm.total}}</td>
    <td><button ion-button (click)="supprimer(itemm.num)">retirer</button></td>
  </tr>
</table>
 </ion-card > 
<ion-card id="form5" style="float:right;width:20%">
<table>
  <tr>
    <th>Prix total TTC</th>
    <td>
    <ion-input (ionChange)="final()" [(ngModel)]="ttc"></ion-input>
    </td>
  </tr>
  <tr>
      <th>Remise</th>
      <td><ion-input (ionChange)="final()" [(ngModel)]="remise" placeholder="remise"></ion-input></td>
    </tr>
    <tr>
        <th>Prix Final</th>
        <td>{{prixfinal}} </td>
      </tr>
</table>
<button ion-button block color="light" (click)="Confirmer()">Confirmer</button>
<button ion-button block color="light" (click)="imprimer()">Imprimer</button>
</ion-card>
         
    </article>
    




        
</ion-content>
