
<html>
  <div style="color:white;height: 50px">
    <div *ngFor="let item of listsociete">
            <img [src]="soc.alt" style="width:10%;float:left;margin-left:50px"  >
          </div>
<ion-icon name="cog" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
<ion-icon name="home" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
<ion-icon name="car" (click)="ressource()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>       
</div>
<div class="area">
    <div style="margin-left:100px">
        <p id="title">Ajouter un nouveau devis</p>
        <ion-card id="form1">
       
      <ion-item>
        <ion-label id="medium">Client</ion-label>
        <ion-select  [(ngModel)]="client" (ionChange)="getClt()">
        
          <ion-option  *ngFor="let clt of listClt" >{{clt.prenom}} {{clt.nom}} </ion-option>
          
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label id="medium">Date </ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"  [(ngModel)]="date" ></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label id="medium">Durée de validité en jours</ion-label>
        <ion-select  [(ngModel)]="duree" (ionChange)="getduree()">
        
          <ion-option  >5</ion-option>
          <ion-option  >10</ion-option>
          <ion-option  >15</ion-option>
          <ion-option  >20</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label id="medium">Condition de reglement</ion-label>
        <ion-select  [(ngModel)]="condition" (ionChange)="getCdt()">
        
          <ion-option  *ngFor="let cdt of listCdt" >{{cdt.condition}}</ion-option>
          
        </ion-select>
      </ion-item>     
      <ion-item>
        <ion-label id="medium">Mode de reglement</ion-label>
        <ion-select  [(ngModel)]="mode" (ionChange)="getMd()">
        
          <ion-option  *ngFor="let md of listMd" >{{md.mode}}</ion-option>
          
        </ion-select>
      </ion-item>             
      <ion-item>
        <ion-label id="medium">Delai de livraison</ion-label>
        <ion-select  [(ngModel)]="delai" (ionChange)="getdl()">
        
          <ion-option  *ngFor="let dl of listDl" >{{dl.delai}}</ion-option>
          
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label id="medium">Date de livraison</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"  [(ngModel)]="deteLivraison"  [min]="date" ></ion-datetime>
      </ion-item>  
      <ion-item>
        <ion-label id="medium" floating>Note</ion-label>
        <ion-input type="richtext" [(ngModel)]="note"></ion-input>
      </ion-item>  
      
      <button ion-button style="float:right;margin-right:1%" (click)="details()">Next</button>
      
      </ion-card >
      <ion-card id="form2">
       
          <ion-select   [(ngModel)]="produit" style="width:30%" placeholder="produit" (ionChange)="select(produit)">
              <ion-option *ngFor="let p of listPdt"  >{{p.libelle}}</ion-option>
            </ion-select>
         
          <ion-item  style="width:20%;float:left;font-size:0.8em">
              <ion-label  floating>Prix de location</ion-label>
              <ion-input (ionChange)="calcul()"[(ngModel)]="prix_location"></ion-input>
          </ion-item>
            <ion-item style="width:10%;font-size:0.8em">
              <ion-label floating >TVA:</ion-label>
              <ion-input (ionChange)="calcul()"[(ngModel)]="t"></ion-input>
               
          </ion-item>
          <ion-item style="width:10%;font-size:0.8em;margin-left:0%" >
            <ion-label floating>Quantité</ion-label>
            <ion-input [(ngModel)]="quantite" (ionChange)="calcul()"></ion-input>
          </ion-item>
        
          <ion-item>
          
            <p>{{total}}</p>
       
      </ion-item>
      <button ion-button style="float:right;margin-right:1%" (click)="ajouter()">Ajouter</button>
        <button ion-button style="float:right;margin-right:1%" (click)="back()">Back</button>
        </ion-card>
      <p id="title">Liste</p>
      <ion-item  style="width:20% ;background-color: transparent" >
          <ion-label > Filtre </ion-label>
        
             <ion-select  [(ngModel)]="search" >
        
              <ion-option>client</ion-option>
              <ion-option>date</ion-option>
              <ion-option>Condition de reglement</ion-option>
          </ion-select>
        
         </ion-item>
         
          <ion-searchbar placeholder="rechercher ...." [(ngModel)]="myInput" (ionInput)="getItems($event)" style="float:left;width:20%"></ion-searchbar>
        
        
         
        
      <ion-card id="form3">
        <table>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Client</th>
            <th>durée de validité</th>
            <th>Condition de règlement</th>
            <th>Mode de règlement</th>
            <th>Délai de livraison</th>
            <th>Note</th>
            <th>Date de ceation de devis</th>
             <th>Action</th>
          </tr>
          <tr *ngFor="let item of listDvs " >
            <td>{{item.id}}</td>
            <td>{{item.date}}</td>
            <td>{{item.client}}</td>
            <td>{{item.duree}}</td>
            <td>{{item.condition}}</td>
            <td>{{item.mode}}</td>
            <td>{{item.deteLivraison}}</td>
            <td>{{item.note}}</td>
            <td>{{item.created_at}}</td>
            <td> 
              <!-- <ion-icon id="action" name="eye" style="color:#3ea7d8"></ion-icon> <ion-icon id="action" name="create" (click)="edit(item.id)" style="color:#178a43"></ion-icon>  -->
              <ion-icon id="action" name="trash" (click)="delete(item.id)" style="color:red"></ion-icon></td>
          </tr>
        
        </table>
        
      </ion-card>
       <ion-card id="form4">
         <table>
      <tr>
        <th>#</th>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix unitaire HT</th>
        <th>Prix Total TTC</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let itemm of listeDevis"  >
        <td>{{itemm.num}}</td>
          <td>{{itemm.produit}}</td>
          <td>{{itemm.quantite}}</td>
          <td>{{itemm.prix_location}}</td>
          <td>{{itemm.total}}</td>
          <td><button ion-button (click)="supprimer(itemm.num)">retirer</button></td>
        </tr>
      </table>
       </ion-card > 
      <ion-card id="form5" style="float:right;width:20%">
      <table>
        <tr>
          <th>Prix total TTC</th>
          <td>
          <ion-input (ionChange)="final()" [(ngModel)]="ttc"></ion-input>
          </td>
        </tr>
        <tr>
            <th>Remise</th>
            <td><ion-input (ionChange)="final()" [(ngModel)]="remise" placeholder="remise"></ion-input></td>
          </tr>
          <tr>
              <th>Prix Final</th>
              <td>{{prixfinal}} </td>
            </tr>
      </table>
      <button ion-button block color="light" (click)="Confirmer()">Confirmer</button>
      <button ion-button block color="light" (click)="imprimer()">Imprimer</button>
      </ion-card>
               
       
      </div>
</div><nav class="main-menu">
        <ul>
            <li>
                <a (click)="dashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a (click)="bonretour()">
                    <i class="fa fa-file fa-2x"></i>
                    <span class="nav-text">
                        Bon Retour
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieV()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Bon de Sortie Validées
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieC()">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Cloturées
                    </span>
                </a>
               
            </li>
            <li>
                <a (click)="Sortieb()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Brouillon
                    </span>
                </a>
            </li>
            <li>
                <a (click)="tech()">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                       Techniciens
                    </span>
                </a>
            </li>
            <li>
               <a (click)="Devis()">
                   <i class="fa fa-copy fa-2x"></i>
                    <span class="nav-text">
                       Devis
                    </span>
                </a>
            </li>
            <li>
               <a (click)="facture()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                     Nouvelle Facture
                    </span>
                </a>
            </li>
            <li>
                <a (click)="listFact()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Liste des factures
                    </span>
                </a>
            </li>
            <li>
                    <a (click)="reservation()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                           Reservation
                        </span>
                    </a>
                </li>
                <li>
                        <a (click)="stock()">
                           <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                               Stock
                            </span>
                        </a>
                    </li>
                    <li>
                            <a (click)="produitt()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Produits
                                </span>
                            </a>
                        </li>
                        <li>
                            <a (click)="enterpot()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Entrepots
                                </span>
                            </a>
                        </li>
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

</html>
 