page-stock {
ion-label{
    font-size: 1.2em
}

table {
  
    border-collapse: collapse;
    width: 100%;
  }
 
  td, th {
    
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f1f1f1;
    border: 1px solid #cfcdcd;
  }

  //////////
  #action{
    font-size: 20px;
    margin-right: 10px
  }
 
  #title{
    font-size: 15px; 
   // font-family:'Courier New', Courier, monospace; 
    font-weight:500;
  }
}
