
         
         

<html>
        <div style="color:white;height: 50px;">
                <div *ngFor="let item of listsociete">
                        <img [src]="soc.alt" style="display: block; width: 10%;float:left"  >
                      </div>
        <ion-icon name="cog" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
        <ion-icon name="home" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
        <ion-icon name="car" (click)="ressource()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>        
    </div>
<div class="area">
    <div style="margin-left:100px">
    
<p id="title">Liste des bon de sortie</p>

<ion-item  style="width:20% ;background-color: transparent" >
  <ion-label > Filtre </ion-label>

     <ion-select  [(ngModel)]="search" >

      <ion-option>client</ion-option>
      <ion-option>evenement</ion-option>
      <ion-option>date evenement</ion-option>
  </ion-select>

 </ion-item>

  <!-- <ion-select [(ngModel)]="search" style="float:left;width:20%">
    <ion-option>client</ion-option>
    <ion-option>evenement</ion-option>
    <ion-option>date evenement</ion-option>
    
  </ion-select> -->
  <ion-searchbar placeholder="rechercher ...." [(ngModel)]="myInput" (ionInput)="getItems($event)" style="float:left;width:20%"></ion-searchbar>


<!-- <ion-item style="margin-top:15px;width:20%"> -->

<!-- </ion-item> -->

<ion-card>
 <table  class="fixed_header">
  <tr>
    <th>#</th>
    <th>Evenement</th>
    <th>Client</th>
    <th>Date Sortie</th>
    <th>date Retour</th>
    <th>date Evenement</th>
    <th>Adresse livraison</th>
    <th>Nom transporteur</th>
    <th>Tel transporteur</th>
    <th>Matricule</th>
    
    <th>Equipe Technique</th>
   


    <th>Status</th>
   
    <th>Date de creation</th>
  
     <th>Action</th>
  </tr>
  <tr *ngFor="let bon of listbrl " >
    <td>{{bon.id}}</td>
    <td>{{bon.evenement}}</td>
    <td>{{bon.nom_client}}</td>
    <td>{{bon.dateSortie}}</td>
    <td>{{bon.dateRetour}}</td>
    <td>{{bon.dateEvenement}}</td>
    <td>{{bon.adresse_livraison}}</td>
    <td>{{bon.transporteur_nom}}</td>
    <td>{{bon.transporteur_tel}}</td>

    <td>{{bon.matricule}}</td>
  
    <td>{{bon.equipe_name}}</td>
    <td>
      {{bon.etat}}
     </td>
    
    <td>{{bon.created_at}}</td>

 
    <td> 
      <ion-icon id="action" name="trash" (click)="delete(bon.id)" style="color:red"></ion-icon>
      <ion-icon id="action" name="eye" style="color:#3ea7d8" (click)="show(bon)"></ion-icon> </td>
  </tr>

</table> 

</ion-card>
 </div>
</div><nav class="main-menu">
        <ul>
            <li>
                <a (click)="dashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a (click)="bonretour()">
                    <i class="fa fa-file fa-2x"></i>
                    <span class="nav-text">
                        Bon Retour
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieV()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Bon de Sortie Validées
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieC()">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Cloturées
                    </span>
                </a>
               
            </li>
            <li>
                <a (click)="Sortieb()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Brouillon
                    </span>
                </a>
            </li>
            <li>
                <a (click)="tech()">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                       Techniciens
                    </span>
                </a>
            </li>
            <li>
               <a (click)="Devis()">
                   <i class="fa fa-copy fa-2x"></i>
                    <span class="nav-text">
                       Devis
                    </span>
                </a>
            </li>
            <li>
               <a (click)="facture()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                     Nouvelle Facture
                    </span>
                </a>
            </li>
            <li>
                <a (click)="listFact()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Liste des factures
                    </span>
                </a>
            </li>
            <li>
                    <a (click)="reservation()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                           Reservation
                        </span>
                    </a>
                </li>
                <li>
                        <a (click)="stock()">
                           <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                               Stock
                            </span>
                        </a>
                    </li>
                    <li>
                            <a (click)="produit()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Produits
                                </span>
                            </a>
                        </li>
                        <li>
                                <a (click)="enterpot()">
                                   <i class="fa fa-file fa-2x"></i>
                                    <span class="nav-text">
                                     Entrepots
                                    </span>
                                </a>
                            </li>
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

</html>
