<div style="color:white;height: 50px">
    <div *ngFor="let item of listsociete">
            <img [src]="soc.alt" style="width:10%;float:left;margin-left:50px;height:60px;"  >
          </div>
<ion-icon name="cog" (click)="ressources()"  style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
<ion-icon name="home" (click)="societe()"  style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
<ion-icon name="car" (click)="ressource()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>       
</div>
<div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a (click)="dashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a (click)="bonretour()">
                    <i class="fa fa-file fa-2x"></i>
                    <span class="nav-text">
                        Bon Retour
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieV()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Bon de Sortie Validées
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieC()">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Cloturées
                    </span>
                </a>
               
            </li>
            <li>
                <a (click)="Sortieb()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Brouillon
                    </span>
                </a>
            </li>
            <li>
                <a (click)="tech()">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                       Techniciens
                    </span>
                </a>
            </li>
            <li>
               <a (click)="Devis()">
                   <i class="fa fa-copy fa-2x"></i>
                    <span class="nav-text">
                       Devis
                    </span>
                </a>
            </li>
            <li>
               <a (click)="facture()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                     Nouvelle Facture
                    </span>
                </a>
            </li>
            <li>
                <a (click)="listFact()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Liste des factures
                    </span>
                </a>
            </li>
            <li>
                    <a (click)="reservation()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                           Reservation
                        </span>
                    </a>
                </li>
                <li>
                        <a (click)="stock()">
                           <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                               Stock
                            </span>
                        </a>
                    </li>
                    <li>
                            <a (click)="produit()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Produits
                                </span>
                            </a>
                        </li>
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>
 
  <p id="title">Ajouter une nouvelle  abscence</p>
  <ion-card>
      <ion-item style="float:left;width:20%">
   

  <ion-label> Nom employé  </ion-label>

     <ion-select  [(ngModel)]="nomEmpl" (ionChange)="chooseid()">

    <ion-option *ngFor="let item of listEmpl"  >{{item.name}}</ion-option>

  </ion-select>
      </ion-item>

      <ion-item style="float:left;width:20%">
   

        <ion-label> Motif d'abscence  </ion-label>

          <ion-input  type="text" [(ngModel)]="motif" ></ion-input>
   
        </ion-item>
      
      
        
   <ion-item style="float:left;width:20%">
          <ion-label>Nombre de jour d'abscence</ion-label>
          <ion-input  type="number" [(ngModel)]="nbr" ></ion-input>
   
        </ion-item>
      <ion-item style="float:left;width:20%">
          <ion-label>Date d'abscence</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"   min="2019" max="2040-12-31"[(ngModel)]="date1" ></ion-datetime>
   
        </ion-item>
        <ion-item style="float:left;width:20%">
          <ion-label>Date retour </ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"   min="2019" max="2040-12-31"[(ngModel)]="date2" ></ion-datetime>
   
        </ion-item>

        
    
           
              <button ion-button (click)="add()"> Ajouter  </button>

</ion-card>


<ion-card>



<table >
  <tr>
    <th>#</th>
<th>Emmploye</th>
    <th>Date Abscence</th>
    <th>Date Retour</th>
    <th>Nombre de jour d'abscence</th>
    <th>Motif d'abscence</th>
    <th>Date de creation</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of listAbscence ">
    
    <td>{{item.id}}</td>
    <td>{{item.employeur_id}}</td>
    <td><ion-input [(ngModel)]="item.date_abscence"></ion-input></td>
    <td><ion-input [(ngModel)]="item.date_retour"></ion-input></td>
    <td><ion-input [(ngModel)]="item.nbrJour"></ion-input></td>
    <td><ion-input [(ngModel)]="item.motif_abscence"></ion-input></td>
    <td><ion-input [(ngModel)]="item.created_at"></ion-input></td>

<td> 
      <ion-icon id="icon" name="create" (click)="edit(item)"  style="color:#178a43; size: 10px"></ion-icon> 

    
    </td>
  </tr>

</table>

</ion-card>

 



        
 