<div *ngFor="let item of listsociete">
        <img [src]="soc.alt" style="width:10%;float:left;margin-left:30px;height:60px;"  >
      </div> 
      <nav class="slidemenu">
      
          <!-- Item 1 -->
          <input type="radio"  (click)="gototemp()"  name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
          <label for="slide-item-1"><p class="icon">🏠</p><span>Accueil</span></label>
          
          <!-- Item 2 -->
          <input type="radio" (click)="gotoparam()" name="slideItem" id="slide-item-2" class="slide-toggle"/>
          <label for="slide-item-2"><p class="icon">⚙️</p><span>Paramètres</span></label>
          
          <!-- Item 3 -->
          <input type="radio"   (click)="gotoressource()" name="slideItem" id="slide-item-3" class="slide-toggle"/>
          <label for="slide-item-3"><p class="icon">🚗</p><span>Ressources</span></label>
          
          <!-- Item 4 -->
          <input type="radio"  (click)="gotoLogOut()"  name="slideItem" id="slide-item-4" class="slide-toggle"/>
          <label for="slide-item-4"><p class="icon">🛑</p><span>Exit</span></label>
          
          <div class="clear"></div>
          
          <!-- Bar -->
          <div class="slider">
            <div class="bar"></div>
          </div>
          
        </nav>
    
    
    <div class="container">
      
     
      
      <nav>
          <ul class="mcd-menu">
            <li (click)="gotoSortie()">
              <a>
                <i><ion-icon name="cart" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>Bon de sortie</strong>
              
              </a>
            </li>
            <li (click)="gotoretour()">
              <a>
                <i><ion-icon name="archive" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>Bon de retour</strong>
              
              </a>
            </li>
    
            <!-- <li (click)="gotoempl()">
              <a>
                <i><ion-icon name="person" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>Employés</strong>
              
              </a>
            </li> -->
            <li>
              <a>
                <i><ion-icon name="contacts" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>GRH</strong>
          
              </a>
              <ul>
                  <li><a (click)="gotoempl()">Employés</a></li>
                <li><a  (click)="gotopointage()" >Pointage</a></li>
         
                <li><a  (click)="gotosalaire()" >Salaire</a></li>
                <li><a (click)="gotodemande()">Demande de congé</a></li>
    
                <li><a (click)="gotoabscence()">Abscence</a></li>
              </ul>
            </li>
            <li (click)="gotoDevis()">
              <a>
                <i><ion-icon name="cash" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>Offre de prix</strong>
              
              </a>
            </li>
            <li>
              <a>
                <i><ion-icon name="calculator" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>Facturation</strong>
          
              </a>
              <ul>
                <li><a (click)="gotolistfact()">Liste</a></li>
         
                <li><a (click)="gotofacture()">Nouvelle facture</a></li>
              </ul>
            </li>
            <li (click)="gotoproduit()">
              <a>
                <i><ion-icon name="cube" style="font-size:25px;color:dimgray"></ion-icon></i>
                <strong>Produits</strong>
              
              </a>
            </li>
            <li >
              <a>
                <i><ion-icon name="cart" style="font-size:25px;color:rgb(105, 105, 105)"></ion-icon></i>
                <strong>Stock</strong>
          
              </a>
              <ul>
                <li><a (click)="gotostock()">Stock disponible</a></li>
         
                <li><a (click)="gotomvt()">Mouvement de stock</a></li>
              </ul>
            </li>
          </ul>
        </nav>
     
      </div>
    
      <div style="margin-left:190px;margin-top:7%">

  <ion-title><u> <i> Ajouter une nouvelle  abscence</i>  </u></ion-title>
  <br/> 
  <br/> 
  <br/> 
  <ion-card>
      <ion-item style="float:left;width:20%">
   

  <ion-label> Nom employé  </ion-label>

     <ion-select  [(ngModel)]="nomEmpl" (ionChange)="chooseid()">

    <ion-option *ngFor="let item of listEmpl"  >{{item.name}}</ion-option>

  </ion-select>
      </ion-item>

      <ion-item style="float:left;width:20%">
   

        <ion-label> Motif d'abscence  </ion-label>

          <ion-input  type="text" [(ngModel)]="motif" ></ion-input>
   
        </ion-item>
      
      
        
   <ion-item style="float:left;width:20%">
          <ion-label>Nombre de jour d'abscence</ion-label>
          <ion-input  type="number" [(ngModel)]="nbr" ></ion-input>
   
        </ion-item>
      <ion-item style="float:left;width:20%">
          <ion-label>Date d'abscence</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"   min="2019" max="2040-12-31"[(ngModel)]="date1" ></ion-datetime>
   
        </ion-item>
        <ion-item style="float:left;width:20%">
          <ion-label>Date retour </ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY"   min="2019" max="2040-12-31"[(ngModel)]="date2" ></ion-datetime>
   
        </ion-item>

        
    
           
              <button ion-button (click)="add()"> Ajouter  </button>

</ion-card>
<br/> 
<br/> 
<br/> 

<ion-card>



<table >
  <tr>
    <th>#</th>
<th>Emmploye</th>
    <th>Date Abscence</th>
    <th>Date Retour</th>
    <th>Nombre de jour d'abscence</th>
    <th>Motif d'abscence</th>
    <th>Date de creation</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of listAbscence ">
    
    <td>{{item.id}}</td>
    <td>{{item.employeur_id}}</td>
    <td><ion-input [(ngModel)]="item.date_abscence"></ion-input></td>
    <td><ion-input [(ngModel)]="item.date_retour"></ion-input></td>
    <td><ion-input [(ngModel)]="item.nbrJour"></ion-input></td>
    <td><ion-input [(ngModel)]="item.motif_abscence"></ion-input></td>
    <td><ion-input [(ngModel)]="item.created_at"></ion-input></td>

    <td> 
        <ion-icon id="icon" name="create" (click)="edit(item)"  style="color:#178a43; size: 10px"></ion-icon> 

      
      </td>
    </tr>
 
  </table>
  
</ion-card>

  </div>

























   