 
<html>

    <div style="color:white;height: 50px;">
            <div *ngFor="let item of listsociete">
                    <img [src]="item.alt" style="display: block; width: 10%;float:left;margin-left:50px"  >
                  </div>
                  <ion-icon name="exit" (click)="exit()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>        

    <ion-icon name="cog" (click)="param()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
    <ion-icon name="home" (click)="societe()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>
    <ion-icon name="car" (click)="ressource()" style="font-size:30px;color:cornflowerblue;margin-top:5px;float:right;margin-right:15px;margin-left:10px"></ion-icon>        
    
</div>
<div class="area">
    <div style="margin-left:100px">
        <ion-card style="width: 30% ;margin-left: 10% ; float:left ;  margin-top : 7px" >

 
            <ion-title><u> <i> Logo de la société </i>  </u></ion-title>
               <br/>
               <br/>
               <br/>
            <div *ngFor="let item of listsociete">
                <img [src]="item.alt" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;"  >
              </div>
                
              <br/>
              <br/>
  
        </ion-card>
        
        <ion-card style="width: 40% ;margin-right: 10%; float:right; margin-top : 7px" >
            
            <ion-title><u> <i> Informations de la société </i></u></ion-title>
            <ion-list  *ngFor="let item of listsociete" >
               
                <br/> 
                <!-- <ion-item>
                    <ion-label position="floating">Id </ion-label>
                    <ion-input  [(ngModel)]="item.id"  type="text"></ion-input>
                  </ion-item> -->
                  <ion-item>
                      <ion-label position="floating">Nom de la société </ion-label>
                      <ion-input   [(ngModel)]="item.nom" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Siège de la société </ion-label>
                        <ion-input  [(ngModel)]="item.siege"  type="text"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Matricule fiscale </ion-label>
                          <ion-input  [(ngModel)]="item.MF"  type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Téléphone 1</ion-label>
                            <ion-input  [(ngModel)]="item.tel1"  type="number"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label position="floating">Téléphone 2 </ion-label>
                              <ion-input  [(ngModel)]="item.tel2"  type="number"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Téléphone 3 </ion-label>
                                <ion-input  [(ngModel)]="item.tel3"  type="number"></ion-input>
                              </ion-item>
                              <ion-item>
                                  <ion-label position="floating">RIB </ion-label>
                                  <ion-input  [(ngModel)]="item.RIB"  type="text"></ion-input>
                                </ion-item>
              <!-- <ion-input   [(ngModel)]="item.id"  type="text" placeholder="id">   </ion-input>   <br/>  -->
              <div class="boxtop" >
        
                  <button ion-button (click)="edit(item.id)">Edit</button>
                </div>
               
              </ion-list> 
         
               
        
                
        
        
                   
        
        </ion-card>
        </div>
</div><nav class="main-menu">
        <ul>
            <!-- <li>
                <a (click)="dashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
              
            </li> -->
            <li class="has-subnav">
                <a (click)="bonretour()">
                    <i class="fa fa-file fa-2x"></i>
                    <span class="nav-text">
                        Bon Retour
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieV()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Bon de Sortie Validées
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a (click)="SortieC()">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Cloturées
                    </span>
                </a>
               
            </li>
            <li>
                <a (click)="Sortieb()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                            Bon de Sortie Brouillon
                    </span>
                </a>
            </li>
            <li>
                <a (click)="tech()">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                       Techniciens
                    </span>
                </a>
            </li>
            <li>
               <a (click)="Devis()">
                   <i class="fa fa-copy fa-2x"></i>
                    <span class="nav-text">
                       Devis
                    </span>
                </a>
            </li>
            <li>
               <a (click)="facture()">
                    <i class="fa fa-edit fa-2x"></i>
                    <span class="nav-text">
                     Nouvelle Facture
                    </span>
                </a>
            </li>
            <li>
                <a (click)="listFact()">
                   <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Liste des factures
                    </span>
                </a>
            </li>
            <li>
                    <a (click)="reservation()">
                       <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                           Reservation
                        </span>
                    </a>
                </li>
                <li>
                        <a (click)="stock()">
                           <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">
                               Stock
                            </span>
                        </a>
                    </li>
                    <li>
                            <a (click)="produit()">
                               <i class="fa fa-file fa-2x"></i>
                                <span class="nav-text">
                                 Produits
                                </span>
                            </a>
                        </li>
                        <li>
                                <a (click)="entrepot()">
                                   <i class="fa fa-file fa-2x"></i>
                                    <span class="nav-text">
                                     Entrepots
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a (click)="dmeConge()">
                                   <i class="fa fa-file fa-2x"></i>
                                    <span class="nav-text">
                                    Demande Congé
                                    </span>
                                </a>
                            </li>
                            <li>
                                    <a (click)="pointage()">
                                       <i class="fa fa-file fa-2x"></i>
                                        <span class="nav-text">
                                        Pointage
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="abscence()">
                                       <i class="fa fa-file fa-2x"></i>
                                        <span class="nav-text">
                                            Abscence
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="salaire()">
                                       <i class="fa fa-file fa-2x"></i>
                                        <span class="nav-text">
                                            Salaire
                                        </span>
                                    </a>
                                </li>

                                
        </ul>

        <ul class="logout">
            <li>
               <a href="#">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </nav>

</html>
