 
<ion-content>
      <ion-title style="margin-left:35%;margin-left:30%">Bon de livraison</ion-title>
      <div *ngFor="let post of imagelist">
          <img [src]="post.alt" style="height: 40px;width:20%;float:left">
          <br>
  <br>
    <ion-label style="font-size:0.8em">Societé: {{post.nom}}</ion-label>
    <ion-label style="font-size:0.8em">Siege: {{post.siege}}</ion-label>
   
        <ion-label style="font-size:0.8em">MF: {{post.MF}}</ion-label>
    <ion-label style="font-size:0.8em">tel: {{post.tel1}}</ion-label>
    <ion-label style="font-size:0.8em">tel: {{post.tel2}}</ion-label>
    
  
        </div>
        <ion-card style="width:50%;float:left">
            <table>
              <tr>
                <th>Date sortie:</th>
                <td>{{item.dateSortie}}</td>
              </tr>
              <tr>
                <th>Date retour:</th>
                <td>{{item.dateRetour}}</td>
              </tr>
              <tr>
                <th>Date d'evenement:</th>
                <td>{{item.dateEvenement}}</td>
              </tr>
              <tr>
                  <th>Adresse livraison:</th>
                  <td>{{item.adresse_livraison}}</td>
                </tr>
                <tr>
                     <th>evenement:</th>
                     <td>{{item.evenement}}</td>
                   </tr>
            </table>
            </ion-card>
            <ion-card style="width:40%;margin-top:15px">
              <table>
                  <tr>
                        <th>Client:</th>
                        <td>{{item.	nom_client}}</td>
                      </tr>
                <tr>
                  <th>Transporteur:</th>
                  <td>{{item.transporteur_nom}}</td>
                </tr>
                <tr>
                  <th>Tel transporteur:</th>
                  <td>{{item.transporteur_tel}}</td>
                </tr>
                <tr>
                  <th>Matricule:</th>
                  <td>{{item.matricule}}</td>
                </tr>
                <tr>
                     <th>Equipe:</th>
                     <td>{{item.equipe_name}}</td>
                   </tr>
                   <tr>
                        <th>Entrepot:</th>
                        <td>{{item.	entrepot}}</td>
                      </tr>
              </table>
            </ion-card>  
 <table>
   <tr>
 
<th>Produit</th>
<th>Quantité</th>
   </tr>
 
   <tr *ngFor="let produit of listSortie ">
      <td>{{produit.ref}}</td>
      <td>{{produit.qte}}</td>
  </tr>
 </table>
 <button ion-button (click)="onSuccessLoad()">Imprimer</button>
</ion-content>
